<div class="d-flex align-items-center mb-4">
  <%= link_to mobile_eventos_path, class: "btn btn-link text-dark p-0 me-3" do %>
    <i class="bi bi-arrow-left fs-4"></i>
  <% end %>
  <h5 class="fw-bold mb-0">Editar Evento</h5>
</div>

<%= render "form", evento: @evento %>